@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EducationDatabase</h1>
    <p class="lead">EducationDatabase is an Education System for schools.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to use it</h2>
        <p>
            Read about how to use EducationDatabase System.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest news</h2>
        <p>New updates and informations about EducationDatabase System</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>Developers of EducationDatabase System</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Click here &raquo;</a></p>
    </div>
</div>