@*@model IEnumerable<Entities.Messages>*@

@{
    ViewBag.Title = "Messages";
    //Layout = "~/Views/Home/Index.cshtml";
}

<h2>Messages</h2>
<body>
<table style="height: 425px; float: left;" border="1" width="140">
    <tbody>
        <tr>
            <td style="text-align: left;">Message</td>
        </tr>
        <tr>
            <td style="text-align: left;">Message</td>
        </tr>
        <tr>
            <td style="text-align: left;">Message</td>
        </tr>
        <tr>
            <td style="text-align: left;">Message</td>
        </tr>
        <tr>
            <td style="text-align: left;">Message</td>
        </tr>
        <tr>
            <td style="text-align: left;">Message</td>
        </tr>
        <tr>
            <td style="text-align: left;">search</td>
        </tr>
    </tbody>
</table>
    <table style="height: 425px; float: left;" border="1" width="401">
        <tbody>
            <tr>
                <td style="text-align: left;">Sentby</td>
            </tr>
            <tr>
                <td style="text-align: left;">MsgTxt</td>
            </tr>
            <tr>
                <td style="text-align: left;">Reply</td>
            </tr>
        </tbody>
    </table>
    </body>
