
@{
    ViewBag.Title = "Finder -";
}

<h2>Find users</h2>

@using (Html.BeginForm("", "", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}