@model List<EduConnect.Web.EduServiceReference.Messages>

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>
<hr />
<tr>
    <th><font size="4">Sent Date</font></th> <th><font size="4">Subject</font></th>
</tr>
<br />
@foreach(var msg in Model)
{
<tr>
    <th>
        @msg.SentDate
    </th>
    <th>
        @msg.Subject
    </th>
</tr>
<br />
}
