@model List<EduConnect.Web.EduServiceReference.Subjects>

@{
    ViewBag.Title = "Subjects -";
}

<h2>Subjects</h2>

<table class="table">
    <tr>
        <th>
            Subject Code
        </th>
        <th>
            Title
        </th>
        <th>
            Credits
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.ActionLink("Apply id:" + item.SubjectCode.ToString(), "Apply", "Subject",
        new { examid = item.SubjectCode.ToString() }, null)
            </td>
        </tr>
    }

</table>